<!--PARA CADA ERRO ELE IRÁ PRINTAR O VALOR DE TEXTO DO ERRO que está salvo em 'routes->admin' -->
{{#each erros}}
<div class="alert alert-danger">
    {{texto}}
</div>
{{else}}
{{/each}}

<h3>Nova Categoria</h3>
<div class="card">
    <div class="card-body">
        <form method="POST" action="/admin/categorias/nova">
            <label for="nome">Nome: </label>
            <input class="form-control" type="text" id="nome" name="nome" placeholder="Nome da categoria">
            <label for="nome">Slug: </label>
            <input class="form-control" type="text" id="slug" name="slug" placeholder="Slug da categoria">
            <br>
            <button type="submit" class="btn btn-success">Criar categoria</button>
        </form>
    </div>
</div>