{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{/each}}

<div class="card">
    <div class="card-body">
        <h4>Nova Postagem</h4>
        <form action="/admin/postagens/nova" method="POST">
            <!--required = impede que o usuário envie dados vazios para o sistema-->
            <label for="titulo">Titulo: </label>
            <input class="form-control" type="text" name="titulo" required>
            <label for="slug">Slug: </label>
            <input class="form-control" type="text" name="slug" required>
            <label for="descricao">Descrição: </label>
            <input class="form-control" type="text" name="descricao" required>
            <label for="conteudo">Conteúdo: </label>
            <textarea class="form-control" name="conteudo" required></textarea>
            <label for="categoria">Categoria: </label>
            <select class="custom-select" name="categoria">
                {{#each categorias}}
                <option value="{{_id}}">{{nome}}</option>
                {{else}}
                <option value="0">Nenhuma categoria registrada!</option>
                {{/each}}
            </select><br><br>
            <button class="btn btn-success" type="submit">Criar postagem</button>
        </form>
    </div>
</div>